USE [master]
GO
/****** Object:  Database [test]    Script Date: 5/14/2024 9:32:38 PM ******/
CREATE DATABASE [test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'test', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\test.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'test_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\test_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [test]
GO
/****** Object:  Table [dbo].[History]    Script Date: 5/14/2024 9:32:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[History](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sid] [nvarchar](50) NOT NULL,
	[value] [nvarchar](50) NULL,
	[time] [datetime] NULL,
 CONSTRAINT [PK_History] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sensor]    Script Date: 5/14/2024 9:32:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sensor](
	[sid] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NULL,
	[unit] [nvarchar](50) NULL,
	[value] [decimal](18, 2) NULL,
	[time] [datetime] NULL,
 CONSTRAINT [PK_sensor] PRIMARY KEY CLUSTERED 
(
	[sid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[History] ON 

INSERT [dbo].[History] ([id], [sid], [value], [time]) VALUES (151, N'1', N'26.26', NULL)
INSERT [dbo].[History] ([id], [sid], [value], [time]) VALUES (152, N'2', N'93.85', NULL)
INSERT [dbo].[History] ([id], [sid], [value], [time]) VALUES (153, N'1', N'28.3', NULL)
GO
SET IDENTITY_INSERT [dbo].[History] OFF
GO
INSERT [dbo].[sensor] ([sid], [name], [unit], [value], [time]) VALUES (N'1', N'Nhiệt Độ ', N'Độ C', CAST(25.00 AS Decimal(18, 2)), CAST(N'2024-04-08T00:00:00.000' AS DateTime))
INSERT [dbo].[sensor] ([sid], [name], [unit], [value], [time]) VALUES (N'2 ', N'Độ Ẩm', N'%', CAST(80.00 AS Decimal(18, 2)), CAST(N'2024-04-08T00:00:00.000' AS DateTime))
GO
/****** Object:  StoredProcedure [dbo].[Input]    Script Date: 5/14/2024 9:32:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Van Ninh
-- Create date: Current Date
-- Description:	Stored Procedure to insert temperature and humidity values into the history table
-- =============================================
CREATE PROCEDURE [dbo].[Input]  
	@value DECIMAL(10,2), 
	@time datetime     
AS
BEGIN

	SET NOCOUNT ON;  
	INSERT INTO History (value, time)
	VALUES (@value, @time); 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Chart]    Script Date: 5/14/2024 9:32:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Chart]
AS
BEGIN
    DECLARE @json nvarchar(max) = N'{"ok":1,"msg":"ok","data":[';

    SELECT @json += FORMATMESSAGE(N'{"id":"%d","sid":"%d","value":"%s","time":"%s"},',
                              [id], [sid], CONVERT(nvarchar(50), [value]), CONVERT(nvarchar(50), [time]))
    FROM history;

    IF RIGHT(@json, 1) = ','
    BEGIN
        SET @json = LEFT(@json, LEN(@json) - 1);
    END

    SET @json = @json + ']}';

    SELECT @json AS json;
END
GO
USE [master]
GO
